.cargando {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: calc(100dvh - 200px);
    overflow: hidden;
}

@media (min-width: 1700px) {
    .cargando {
        min-height: calc(100dvh - 220px);
    }
}
