.footer {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--text-color);
    height: 130px;
}

.img-logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo-footer img {
    height: 50px;
    pointer-events: none;
    user-select: none;
}

.utiles-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-align: center;
}

.links-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.links-footer a {
    font-size: 16px;
    text-decoration: none;
    color: var(--link-color);
}

@media (min-width: 1400px) {
    .links-footer a {
        font-size: 20px;
    }
}
