:root {
    --primary-color: #ac3150;
    --secondary-color: #e84e74;
    --tertiary-color: #df92a5;
    --background-color: #7f8ac7;
    --background-color-2: rgba(127, 138, 199, 0.9);
    --text-color: #fcf5e5;
    --text-color-2: #272727;
    --link-color: #024bb8;
    --shadow-color: rgba(0, 0, 0, 0.3);
}
