.form {
    z-index: 1;
    position: relative;
    color: var(--text-color);
    border: 3px solid var(--text-color);
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 60px;
}

.camposObligatorios {
    text-align: end;
    margin-bottom: 20px;
}

.campoPrecalificarForm {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.campoPrecalificarForm select,
.campoPrecalificarForm input {
    padding-left: 10px;
    padding-right: 10px;
}

.campoPrecalificarForm label {
    z-index: 1;
}

.formControl {
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
    padding: 4px 0;
    margin-bottom: 10px;
    background-color: var(--text-color);
    color: var(--text-color-2);
    border: none;
    font-size: 18px;
    resize: none;
}

.formControl:focus {
    outline: none;
}

.labelError {
    color: red;
}

.contentEnvio {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 5px;
}

.mensajeErrorGeneral {
    position: relative;
    display: flex;
    justify-content: start;
    margin-left: 5px;
}

.mensajeErrorGeneral p {
    position: absolute;
    z-index: 1;
    color: var(--text-color-2);
    margin-top: 5px;
}

.imgForm {
    position: absolute;
    bottom: -35px;
    right: -35px;
    width: 130px;
    user-select: none;
    pointer-events: none;
}

@media (min-width: 768px) {
    .imgForm {
        right: -230px;
        width: 300px;
    }
}

@media (min-width: 992px) {
    .imgForm {
        right: -250px;
        width: 320px;
    }
}

@media (min-width: 1400px) {
    .formControl {
        padding: 5px 0;
    }
}

@media (min-width: 1700px) {
    .campoPrecalificarForm,
    .formControl {
        font-size: 20px;
    }
}
